.top-page-wrapper {
  flex: 1;
  background-color: #F2F2F2;
  padding: 24px;

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
      padding: 8px;
      margin-bottom: 8px;
      border-left: 6px solid #e6aa5f;
    }
  }

  .content-area {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
  }

  .add-anniversaries-button {
    background: #e6aa5f;
  }

  .add-anniversaries-button:hover {
    background: #d8923d;
  }
}