.dear-edit-form-wrapper {
  .form {
    padding: 60px;

    .text-field-wrapper {
      margin-bottom: 20px;

      .text-field {
        width: 340px;
      }

      .select-field {
        width: 340px;
      }
    }

    .button-wrapper {
      display: flex;
      margin-bottom: 16px;
      justify-content: center;

      .button {
        width: 100%;
      }

      .positive-button {
        background: #e6aa5f;
      }
    }
  }
}